#puzzle{
	width: 480px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -20px;
}
#puzzle ul div{
	display: inline-block;
}
#puzzle ul div li{
	list-style: none;
	display: block;
	float: left;
}
#puzzle ul div{
	margin-bottom: -5px;
}
#puzzle ul div li textarea{
	width: 40px;
	height: 40px;
	resize: none;
	text-align: center;
	float: left;
	display: block;
	margin: 0px;
	margin-bottom: 0px;
	font-size: 40px;
	overflow: hidden;
    box-shadow: 1px 1px 2px #111111;
}
#title{
	font-family: Avenir;
	text-align: center;
}
#title p{
	margin-top: -20px;
	margin-bottom: 30px;
}
#but{
	width: 90px;
	margin: 0 auto;
}
#solve {

	-moz-box-shadow:inset 0px 15px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 15px 0px 0px #ffffff;
	box-shadow:inset 0px 15px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:2px solid #d4d4d4;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:8px 24px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}
#solve:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
#solve:active {
	position:relative;
	top:1px;
}
#bottom{
	position: fixed;
	bottom: 0px;
}
#bottom p{
	font-family: Avenir;
	margin-left: 20px;
}
@media screen and (max-width: 400px) {
	#puzzle ul div li textarea{
		width: 20px;
		height: 20px;
	}
	#puzzle{
		margin-left: 30px;
	}

}
@media screen and (max-width: 350px) {
	#puzzle{
		margin-left: 0px;
	}
	#solve{
		margin-left: -10px;
	}
}
#error{
	color: red;
}
.left{
	border-left:1px solid #111312;
}
.right{
	border-right:1px solid #111312;
}
#three, #six{
	border-top:2px solid #111312;
}
